{% extends 'base.twig' %}
{% block content %}

<h2>Help </h2>

{{ flash.info|raw }} <br />


<form action="" method="POST">

<label>Username: </label>
<input type="text" name="username" value=""> <br />
<label>email: </label>
<input type="text" name="email" value=""> <br />
<label>text: </label>
<TEXTAREA Name="content" ROWS="2" COLS="20" placeholder="Write your issue here" value=""></TEXTAREA><br />
<input type="submit" name="submit" value="Submit">
</form>


{% endblock %}

