{% block content %}
<h2>Verify</h2>
<form action="" method="POST">
    <div>    
    <p><strong>Auth code:</strong><br>
    <input type="text" name="code">
    </div>
    <input type="submit" name="submit" value="Confirm">
</form>

{% endblock %}
