{% extends 'base.twig' %}
{% block content %}
<h2>Verificate</h2>

{{ flash.error|raw }} <br />

<form action="" method="POST">


<label>code: </label>
<input type="text" name="code"> <br />
<input type="submit" name="submit" value="Validate">



</form>
{% endblock %}
