{% extends 'base.twig' %}

{% block content %}


<h2>Login</h2>

{{ flash.error|raw }} <br />

<form action="" method="POST">

<label>Username: </label>
<input type="text" name="username"> <br />
<label>Password: </label>
<input type="password" name="password"> <br />
<div class="g-recaptcha" data-sitekey="your_site_key">
<input type="submit" name="submit" value="Log in">



</form>
{% endblock %}
