
{% extends 'base.twig' %}



{% block content %}

<h2>Register new user</h2>

{{ flash.error|raw }} <br />

<form action="" method="POST">

<label>Username: </label>
<input type="text" name="username"> <br />

<label>Password: </label>
<input type="text" name="password"> <br />

<<<<<<< HEAD
{% if password not matches '^(\w*(?=\w*\d)(?=\w*[a-z])(?=\w*[A-Z])\w*){6,20}$' %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
=======

{% if not password matches '{^[\d\.]+$}' %}


        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }} password not good :/ </li>
		<h3> password not good :/ </h3>
>>>>>>> 75d6e35288ab28164ad1a7141eb54d9bb891e01f
            {% endfor %}
        </ul>
{% endif %}


<<<<<<< HEAD
=======

>>>>>>> 75d6e35288ab28164ad1a7141eb54d9bb891e01f
<label>Email: </label>
<input type="text" name="email"> <br />
<label>Biography: </label>
<input type="text" name="bio"> <br />
<input type="submit" name="submit" value="Submit">
</form>
{% endblock %}

